@model GuestVM

<h2>Add Guest</h2>

<form method="post" asp-controller="Guest" asp-action="Create">
    <div class="form-group col-md-4">
        <label for="empPhone">Phone</label>
        <input type="text" asp-for="guestPhone" pattern="^\d{10}$" class="form-control" required maxlength="10" />
    </div>

    <div class="form-group col-md-4">
        <label for="empName">Name</label>
        <input type="text" asp-for="guestName" required pattern="^[A-Za-zÀ-ÿ\s]+$" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Add Guest</button>
</form>