@model ShelfVM

<h2>Add Postion</h2>

<form method="post" asp-controller="Shelf" asp-action="Create">
    <div class="form-group col-md-4">
        <label for="posName">Location</label>
        <input type="text" asp-for="shelfLocation" required pattern="^(?=.*[A-Za-z])[A-Za-z0-9 ]+$" class="form-control" />
    </div>


    <button type="submit" class="btn btn-primary">Add</button>
</form>