@model ProductVM

<div>
    <h2>Update Product</h2>

    <form method="post" asp-controller="Product" asp-action="Update">
        <input type="hidden" asp-for="proID" />
        <div class="form-group">
            <label for="proName">Name</label>
            <input type="text" asp-for="proName" required pattern="^[A-Za-zÀ-ÿ0-9\s]+$" class="form-control" />
        </div>

        <div class="form-group">
            <label for="typeID">Type</label>
            <select asp-for="typeID" class="form-control" required>
                @foreach (var type in ViewBag.Types)
                {
                    <option value="@type.typeID">@type.typeName</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="typeID">Shelf</label>
            <select asp-for="shelfID" class="form-control" required>
                @foreach (var shelf in ViewBag.Shelves)
                {
                    <option value="@shelf.shelfID">@shelf.shelfLocation</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="cost">Cost</label>
            <input type="number" asp-for="cost" class="form-control" required min="0" />
        </div>

        <div class="form-group">
            <label for="inventory">Inventory</label>
            <input type="number" asp-for="inventory" class="form-control" required min="0" />
        </div>


        <button type="submit" class="btn btn-primary">Update Product</button>
    </form>
</div>
